<div class="container-fluid p-5 d-flex justify-content-center align-items-center vh-75">
    <div>
        <h1 class="alert-success p-5">You created an account seccussfuly!</h1>
    </div>
</div>


<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("Index","Login")';
    },10000);
</script>